button{
    background: 0;
    border: 0;
    font: inherit;
    padding: 0;
    margin: 0px 7px;
}
.app {
    width: 100%;
    display: flex;
}
.leftSec {
    background-color: #0e1a35;
    width: 20%;
    height: 100%;
    position: fixed;
    transition: 1s;
}
.rightSec {
    background-color: #f6f7fa;
    width: 80%;
    min-height: 665px;
    margin-left: 20%;
    transition: 0.15s;
}
.w {
    width: 100%;
    margin-left: 0%;
}
.header {
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
.cont {
    margin: 20px 20px;
}
h1 {
    font-size: 25px; 
    display: inline;
}
.switch {
    color: #ffffff;
    padding-left: 10%;
    height: 80px;
    display: flex;
    align-items: center;   
}
.swText {
    margin-left: 5%;
}
.rButt {
    margin-left: auto;
    margin-right: 20px;
}
.lButt {
    margin-left: 20px;
}
.addToDo {
    background-color: #5584ff;
    height: 35px;
    width: 140px;
    font-size: 15px;
    color: #ffffff;
    border-radius: 20px;
}
.sumOfEl {
    color: #9b9b9b;
    display: inline;
}
.TDC {
    padding: 15px 0px;
}
.disp {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.tddis {
    display: flex;
}
a {
    text-decoration: none;
}
.selected {
    border-style: solid;
    background-color: #1a2e5e;
    border-width: 0px 0px 0px 8px;
    border-color: #5584ff;
}
.r:hover {
    background-color: #1a2e5e;
    transition: 0.25s;
}
.item-name {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    
}
.item-button {
    display: flex;
    font-size: 50px;
    color: #9b9b9b;
    padding-right: 5px;
}

.item-container {
    text-align: right;
    background-color: #ffffff;
    margin-top: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
}

.item-some {
    padding: 10px 15px 0 0;
    display: flex;
}

.item-date {
    color: #9b9b9b;
    margin-left: 10px;
    font-size: 12px;
}

.item-priority {
    font-size: 12px;
    font-weight: bold;
}

.some {
    right: 0;
    margin-left: auto;
    display: flex;
}

.item-block {
    text-align: left;
}

.item-icon {
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    font-size: 25px;
}

.item-info {
    vertical-align: middle;
    display: inline-block;
    padding: 10px 15px;
    width: calc(100% - 80px);
}

.item-text {
    font-size: smaller;
}

.item-description {
    display: flex;
    justify-content: space-between;
}
.form-background {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #2c2c2c8c;
    display: flex;
}

.cross {
    margin-left: auto;
    display: flex;
}

.form {
    border-radius: 1%;
    width: 33%;
    background-color: #ffffff;
    height: 80%;
    margin: auto;
    padding: 0px 10px;
}

.form-fields {
    height: 85%;
}
.form-item input{
    width: 98%;
}

.priority-filter {
    position: absolute;
    background: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.priority-filter div{
    color: #9b9b9b;
    padding: 10px;
    display: block;
}

.priority-filter div:hover{
    color: #ffffff;
    background: #5584ff;    
    transition: 0.25s;
}